body {
    background-color: #fff;
    font-family: Helvetica, sans-serif;
}

p {
    color: #333;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    ;
}
